<div>
  <h1>PRODUCTOS</h1>
  {{#if user}}
  <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
  <p>Correo: {{user.email}}</p>
  {{/if}}


  {{#each products}}
  <p>Producto: {{this.title}}</p>
  <p>Descripción del producto: {{this.description}}</p>
  <p>Precio: ${{this.price}}</p>
  <p>Stock: {{this.stock}} unidades</p>

  <form id="addToCartForm_{{_id}}" method="POST" action="/api/cart/{{../user.cart}}/product/{{_id}}">
    <label for="quantity_{{_id}}">Cantidad:</label>
    <input type="number" name="quantity" id="quantity_{{_id}}" value="1" min="1">
    <button type="submit">Agregar al carrito</button>
  </form>

  <br />
  {{/each}}


  {{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  {{page}}

  {{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}

  <a href="/cart"><button>Ir al carrito</button></a>
  <a href="/home"><button>Ir al Home</button></a>
</div>