<div>
  <h1>Productos</h1>
  {{#each productos}}
    <div>
      <h2>Titulo: {{titulo}}</h2>
      <ul>
        <li>Descripcion: {{description}}</li>
        <li>Codigo: {{code}}</li>
        <li>Precio: {{price}}</li>
        <li>Stock: {{stock}}</li>
        <li>Categoria: {{category}}</li>
      </ul>
    </div>
  {{/each}}
</div>