<h1>PRODUCTOS</h1>

{{#each products}}
<p>{{this.title}}</p>
<p>{{this.description}}</p>
<p>{{this.price}}</p>
<p>{{this.stock}}</p>
 <button onclick="addToCart('{{../cid}}', '{{_id}}')">Agregar al carrito</button>

<br/>
{{/each}}
{{#if hasPrevPage}}
<a href="/?page={{prevPage}}"><button>Anterior</button></a>
{{/if}}

{{page}}

{{#if hasNextPage}}
<a href="/?page={{nextPage}}"><button>Siguiente</button></a>
{{/if}}

<a href="/api/carts"><button>Ir al carrito</button></a>